/docker-compose.prod.yml

*.log
.DS_Store
/.fleet
/.idea
/.nova

/app/.env
/app/.env.backup
/app/.env.production
/app/.phpactor.json
/app/.phpunit.result.cache
/app/.phpunit.cache
/app/.vscode
/app/.zed
/app/auth.json
/app/node_modules
/app/coverage-report
/app/storage/*.key
/app/storage/pail
/app/vendor

/packages/query_logging/vendor

Thumbs.db
.gitignore
